<!-- <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Admin List</title>
     
      <link rel="stylesheet" href="/styles3.css"> 
  </head>
  <body>
   
      <h1>Admin List</h1>
      <ul>
          <% admin.forEach(admin => { %>
              <li>
                  <strong>Name:</strong> <%= admin.name %><br>
                  <strong>Email:</strong> <%= admin.email %><br>
                  <strong>CONTACT:</strong> <%= admin.contact_number %><br>
              </li>
          <% }) %>
      </ul>
      
  </body>
  </html> -->

  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bed List</title>
    <link rel="stylesheet" href="/style3.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <h1>Admin List</h1>
        
        <!-- Admin Section -->
        <div>
            
            <ul>
                <% admin.forEach(admin => { %>
                    <li>
                        <strong>Name:</strong> <%= admin.name %><br>
                        <strong>Email:</strong> <%=admin.email  %><br>
                        <strong>CONTACT:</strong> <%= admin.contact_number %><br>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>

  